# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: "2.7"
    - name: Test by decompiling a script and building un.rpyc
      run: |
        ./unrpyc.py --clobber testcases/script.rpyc
        diff -u testcases/script.orig.rpy testcases/script.rpy
        cd un.rpyc;
        ./compile.py -p 1
        cd ..
